:root {
  color-scheme: dark;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  background-color: #1e201e;
  color: #5ccc37;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

header h1 {
  font-size: 30px;
}

form {
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

input,
button {
  border-style: none;
}

input {
  width: 170px;
  height: 1.6rem;
  font-size: 14px;
  padding: 0 5px 0;
  color: #5ccc37;
  font-family: 'Inter', sans-serif;
}

button {
  background: none;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}
