:root {
  color-scheme: dark;
  --green: #5ccc37;
  --radius: 5px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #1e201e;
  color: var(--green);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  width: 100vw;
}

header h1 {
  font-size: 1.6rem;
}

form {
  border-style: solid;
  border-radius: var(--radius);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

input,
button {
  border-style: none;
}

input {
  width: 170px;
  height: 1.6rem;
  font-size: 14px;
  padding: 0 5px 0;
  color: var(--green);
  font-family: "Inter", sans-serif;
}

button {
  background: none;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

#current {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#current > h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

#current > h3 {
  font-size: 1.2rem;
  font-weight: 300;
}

#current > p {
  font-style: italic;
}

#details {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  max-width: 50vw;
  padding: 10px;
}

#details {
  border-style: solid;
  border-radius: var(--radius);
}

#todaysDescription {
  padding-bottom: 10px;
  text-align: center;
  border-style: none none solid none;
}

#todayContainer {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10px;
  text-align: center;
}

.hourDiv {
  font-size: 0.95rem;
}
